* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --fondo: #4474e3;
    --letras: #fff;
    --sub-letras: #5082f7;
    --oscuro: #333;
    --divisor: rgb(110, 110, 110);
    --opacidad: rgb(199, 198, 198);
    --navbar: rgb(231, 230, 230);
    --red: rgb(242, 55, 55);
    --green: rgb(18, 218, 0);
    --new: rgb(24, 185, 10);
    --btn-lock: rgb(216, 174, 36);
    --btn-cancel: rgb(121, 121, 121);
}


html {
    overflow-x: hidden;
    background: var(--navbar);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}








/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--fondo);
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    z-index: 200;
}

#sidebar.hide {
    max-width: 60px;
}

#sidebar.hide:hover {
    max-width: 260px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand{
    font-size: 24px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    height: 64px;
    font-weight: 700;
    color: var(--letras);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    padding: 0 6px;
}


#sidebar .icon {
    /* font-size: 30px; */
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#sidebar.hide .side-menu {
    padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
    padding: 0 15px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--letras);
    padding: 14px 10px 14px 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 2px 0;
    white-space: nowrap;
    /* grid-gap: 6px; */
}

#sidebar .side-menu > li > a:hover {
    background: var(--letras);
    color: var(--oscuro);
}

#sidebar .side-menu > li > a.active .icon-right {
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: var(--letras);
    color: var(--oscuro);
}

#sidebar .divider {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    color: var(--divisor);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    white-space: nowrap;
}

#sidebar .side-dropdown  {
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
}

#sidebar .side-dropdown.show {
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: var(--sub-letras);
    background: var(--opacidad);
    padding-left: 10px;
}
/* SIDEBAR */




/* CONTENT */ 
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#sidebar.hide + #content {
    width: calc(100% - 60px);
    left: 60px;
}

nav {
    /* background: var(--navbar); */
    background: var(--letras);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
}

nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
    margin-right: auto;
}

nav .nav-link {
    position: relative;
}

nav .nav-link .icon{
    font-size: 18px;
    color: var(--oscuro);
}

nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--navbar);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--letras);
    font-size: 10px;
    font-weight: 700;
}

nav .divider {
    width: 1px;
    background: var(--oscuro);
    height: 12px;
    display: block;
}

nav .profile {
    position: relative;
    /* padding: 0 12px 0 12px; */
}

nav .profile img {
    width: 36px;
    height: 42px;
    object-fit: cover;
    cursor: pointer;
}

nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    /* background: var(--navbar); */
    background: var(--letras);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}

nav .profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 6px;
    font-size: 14px;
    color: var(--divisor);
    align-items: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

nav .profile .profile-link a:hover {
    background: var(--opacidad);
}
/* CONTENT */ 





/* MAIN */

main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: -10px;
}

main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}

main .breadcrumbs li,
main .breadcrumbs li a {
    font-size: 14px;
}

main .breadcrumbs li a {
    color: var(--fondo);
}

main .breadcrumbs li a.active,
main .breadcrumbs li a.divider {
    color: var(--divisor);
    pointer-events: none;
}

main .nuevo_registro {
    margin: 30px 10px 20px 10px;
}

/* main .nuevo_registro button{
    width: 40px;
    height: 30px;
} */

.btn {
    width: 50px;
    height: 35px;
    border: none;
    color: var(--letras);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn-m {
    width: 80px;
    height: 30px;
    border: none;
    color: var(--letras);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    /* background: var(--divisor); */
    opacity: 0.6;
    color: var(--oscuro);
}

.btn-m:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    background: var(--divisor);
}

.btn-success {
    background: var(--new);
}

.btn-lock {
    background: var(--btn-lock);
}

.btn-delete {
    background: var(--red);
}

.btn-data {
    background: var(--fondo);
}

.btn-cancel {
    background: var(--btn-cancel);
}

main .sub-title {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 -20px 0;
    color: var(--divisor);
}

main .info-data {
    margin-top: 36px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    grid-gap: 20px;
}


main .info-data .card {
    padding: 20px;
    border-radius: 10px;
    background: var(--letras);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

main .info-data .card:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .2);;
}

main .card .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main .card .head h2 {
    font-size: 28px;
    font-weight: 600;
}

main .card .head p {
    font-size: 14px;
}

main .card .head .icon {
    padding-left: 20px;
    
}

main .card .head .icon.edit:hover {
    transform: scale(1.1);
    color: var(--sub-letras);
    transition: all .3s ease;
}

main .card .head .icon.up {
    font-size: 20px;
    color: var(--green);
    animation: 1s move-up linear infinite;
}

main .card .head .icon.down {
    font-size: 20px;
    color: var(--red);
    animation: 1s move-down linear infinite;
}

main .card .head .icon.start {
    font-size: 20px;
    color: var(--sub-letras);
    /* animation: 4s rotar linear infinite; */
}

/* ANIMACIÓN DE LOS ICONOS */
@keyframes move-up {
    0% {
        transform: translateY(0%);
    } 100% {
        transform: translateY(-20%);
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0%);
    } 100% {
        transform: translateY(20%);
    }
}

@keyframes rotar {
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
    }
}
/* ANIMACIÓN DE LOS ICONOS */


main .card .progress {
    display: block;
    margin-top: 24px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: var(--navbar);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}

main .card .progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--value);
}

/* IMAGEN PARA CADA BARRA DE PROGRESO */
main .card .progress.up::before {
    background: var(--green);
}

main .card .progress.down::before {
    background: var(--red);
}

main .card .progress.start::before {
    background: var(--sub-letras);
}

main .card .content-label {
    display: flex;
    justify-content: space-between;
/*     font-size: 14px;
    font-weight: 700; */
}

main .card .label {
    font-size: 14px;
    font-weight: 700;
}


/* MAIN */




/* MODAL */

.modal-inputs__apoderado {
    width: 100%;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 0;
}

.modal-footer__btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 8px 0;
    margin: 10px 8px;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 201;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--letras);
    margin: 5% auto 15% auto;
    border: 1px solid var(--divisor);
    width: 50%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 15px 25px;
}

.modal-show {
    display: block;
}

.modal-footer {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}


/* MODAL */



































/* ESTIDOS DEL VIWEPORT */

@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        /* left: 260px; */
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }

    nav .nav-link,
    nav .divider {
        display: none;
    }
}