* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --fondo: #4474e3;
    --letras: #fff;
    --sub-letras: #5082f7;
    --oscuro: #333;
    --divisor: rgb(84, 84, 84);
    --navbar: rgb(196, 196, 196);
}

/* PARCIAL */
a.salir {
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}








/* SIDEBAR */
#sidebar {
    position: fixed;
    /* max-width: 240px;
    width: 100%; */
    width: 260px;
    background: var(--fondo);
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 64px;
    font-weight: 700;
    color: var(--letras);
}

.iconUsser {
    /* PARA EL ICONO DEL USUARIO */
}

#sidebar .icon {
    /* font-size: 30px; */
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 15px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--letras);
    padding: 14px 10px 14px 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 2px 0;
    /* grid-gap: 6px; */
}

#sidebar .side-menu > li > a:hover {
    background: var(--letras);
    color: var(--oscuro);
}

#sidebar .side-menu > li > a.active .icon-right {
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: var(--letras);
    color: var(--oscuro);
}

#sidebar .divider {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    color: var(--divisor);
}

#sidebar .side-dropdown  {
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
}

#sidebar .side-dropdown.show {
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: var(--sub-letras);
    background: var(--oscuro);
    padding-left: 10px;
}
/* SIDEBAR */




/* CONTENT */ 
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
}

nav {
    background: var(--navbar);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
}

#content .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;

}

/* POSIBILIDAD DE AGREGAR UNA BARRA BUSCADORA */

nav .nav-link {
    position: relative;
}

nav .nav-link .badge {
    
}


/* CONTENT */ 