body {
    font-family: 'Dosis', sans-serif;
}

.design-login {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.wave {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

.wave-img {
    width: 70%;
    height: 80%;
    margin-right: 20px;
}

.login {
    display: flex;
    justify-content: left;
    align-items: center;
}

.login-data {
    margin-left: 20px;
    border: solid;
}

.login-data_logo {
    width: 150px;
}


